{% extends "layout.html" %}

{% block content %}

    
    {% for post in posts %}
    <h1 class="text-2xl font-bold mb-6 text-center">Posts in <span class="text-red-600">{{ post.category.category_name }}</span></h1>
   <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
     <div class="border p-2 rounded bg-white shadow hover:shadow-lg transition">
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="h-40 w-full object-cover rounded">
        <div class="pt-3">
            <h2 class="font-semibold text-[12px] mb-1 line-clamp-3">{{ post.title }}</h2>
            <div class="flex justify-between gap-6">
                <h4 class="text-gray-500 text-xs">{{post.author}}</h4>
                <span class="text-gray-500 text-xs">{{post.created_at | timesince}}</span>
            </div>
        </div>
    </div>
   </div>
    {% empty %}
    <p class=" col-span-3 text-center text-red-600">No posts found in this category.</p>
    {% endfor %}

{% endblock %}
